.list{
    
    width: 300px;
    margin: 20px auto;
    height: 50px;
    background-color: #757575;
    border-radius: 5px;
    color: whitesmoke;
}


.list p{
    padding: 10px;
    position: relative;
    transition: ease-in-out;
}
